/**
 * Main content area
 */

.newspack-my-account {
	.woocommerce-MyAccount-content {
		transition: transform 0.25s ease-in-out;
		@media ( min-width: 768px ) {
			border: none;
			margin-left: auto;
			margin-right: auto;
			max-width: calc(1082px + var(--newspack-ui-spacer-5) * 2);
			padding-bottom: 0;
			padding-left: calc(300px + var(--newspack-ui-spacer-5));
			padding-top: 0;
			transition: none;
			width: 100%;
		}
		&.is-loading {
			opacity: 0.5;
			pointer-events: none;
		}
		section + section {
			margin-top: var(--newspack-ui-spacer-10);
		}
	}
}
