@use "~@wordpress/base-styles/colors" as wp-colors;

.correction {
	&-panel {
		border-left: 1px solid wp-colors.$gray-200;
		border-right: 1px solid wp-colors.$gray-200;
	}

	&-item + &-item {
		border-top: 1px solid wp-colors.$gray-300;
		padding-top: 16px;
		margin-top: 16px;
	}

	&-date-popover {
		.components-popover__content {
			padding: 16px;
		}
	}

	&-date-button {
		width: 100%;

		&.is-secondary.has-icon {
			box-shadow: inset 0 0 0 1px var(--wp-components-color-gray-600, wp-colors.$gray-600);
			color: currentcolor;
			justify-content: space-between;
		}
	}

	&-actions {
		display: flex;
		flex-direction: row-reverse;
		gap: 8px;
		margin: 24px 0 0;
	}
}

.newspack-corrections-panel {
	.components-button.is-secondary {
		justify-content: center;
		width: 100%;
	}
}
